<h1>{{'login' | translate}}</h1>
<form [formGroup]="loginForm" (ngSubmit)="onFormSubmit(loginForm.value)">
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <mat-label>{{'email' | translate}}</mat-label>
      <input matInput formControlName="email" required email placeholder="Ex@example.com">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>{{'password' | translate}}</mat-label>
      <input matInput type="password" formControlName="password" required>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="example-button-row">
    <button mat-button type="button" (click)="onNoClick()">{{'cancel' | translate}}</button>
    <button type="submit" mat-raised-button color="accent"
            [disabled]="!loginForm.valid">
      {{'login' | translate}}</button>
  </div>
</form>

