<div class="container-fluid">
  <h2>Welcome to Admin Panel</h2>
  <div class="row">
    <div class="card bg-light mb-3 divChild" style="max-width: 18rem;">
      <div class="card-header">Users</div>
      <div class="card-body">
        <h5 class="card-title">Here you can view, edit, add, delete users</h5>
        <button class="btn btn-primary" (click)="users()">Go to users</button>
      </div>
    </div>
    <div class="card bg-light mb-3 divChild" style="max-width: 18rem;">
      <div class="card-header">Categories</div>
      <div class="card-body">
        <h5 class="card-title">Here you can view, edit, add, delete categories</h5>
        <button class="btn btn-primary" (click)="categories()">Go to categories</button>
      </div>
    </div>
    <div class="card bg-light mb-3 divChild" style="max-width: 18rem;">
      <div class="card-header">Ingredients</div>
      <div class="card-body">
        <h5 class="card-title">Here you can view, edit, add, delete ingredients</h5>
        <button class="btn btn-primary" (click)="ingredients()">Go to ingredients</button>
      </div>
    </div>
  </div>
</div>
