<nav class="navbar navbar-expand-lg fixed-top mat-elevation-z6" style=" padding: 16px 15px">
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <button mat-button (click)="search()">{{ 'search' | translate }}</button>
    <div *ngIf="admin">
      <button mat-button (click)="adminPanel()">{{ 'admin panel' | translate }}</button>
    </div>
    <button mat-button (click)="categories()">{{ 'categories' | translate }}</button>
    <div *ngIf="author || admin">
      <button mat-button (click)="recipes()">{{ 'my recipes' | translate }}</button>
    </div>
    <div *ngIf="authenticated">
      <button mat-button (click)="favorite()">{{ 'favorites' | translate }}</button>
    </div>
    <button mat-raised-button color="accent" type="button" (click)="addRecipe()">
      +{{ 'add recipe' | translate }}</button>
  </div>
  <div class="button-row">
    <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button"
              id="dropdownMenuButton3" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        {{ 'change lang' | translate }}
      </button>
      <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
        <button class="btn dropdown-item" (click)="useLanguage('en')">en</button>
        <button class="btn dropdown-item" (click)="useLanguage('ru')">ru</button>
      </div>
    </div>
  </div>
  <div class="button-row divChild2">
    <div class="dropdown">
      <button *ngIf="username != 'unauthorized' " class="btn btn-secondary dropdown-toggle" type="button"
              id="dropdownMenuButton" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        {{username}}
      </button>
      <button *ngIf="username == 'unauthorized' " class="btn btn-secondary dropdown-toggle" type="button"
              id="dropdownMenuButton2" data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        {{ 'login and registration' | translate }}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <button class="btn dropdown-item" (click)="login()">{{ 'login' | translate }}</button>
        <button class="btn dropdown-item" (click)="register()">{{ 'registration' | translate }}</button>
        <button [hidden]="!authenticated" class="btn dropdown-item"
                (click)="profile()">{{ 'profile' | translate }}</button>
        <button [hidden]="!authenticated" type="button" class="btn dropdown-item"
                (click)="logout()">{{ 'log out' | translate }}</button>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

