<h1>
  {{'change password' | translate}}
</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>{{'old password' | translate}}</mat-label>
    <input type="password" matInput [(ngModel)]="oldPass" #old="ngModel" (change)="checkPass()" id="old" required>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>{{'new password' | translate}}</mat-label>
    <input type="password" matInput [(ngModel)]="newPass" #new="ngModel" required>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>{{'confirm password' | translate}}</mat-label>
    <input type="password" matInput [(ngModel)]="confPass" #conf="ngModel" id="conf" (change)="comparison()" required>
  </mat-form-field>
</div>
<div mat-dialog-actions class="example-button-row">
  <button mat-button type="button" (click)="onNoClick()">{{'cancel' | translate}}</button>
  <button id="save" mat-raised-button color="accent" [disabled]="new.invalid || conf.invalid || old.invalid"
          (click)="savePass()">{{'save password' | translate}}
  </button>
</div>
