<h1>
  <app-back-button></app-back-button>
  <div class="qub-page-header-divider"></div>
  {{'favorite recipes' | translate}}
</h1>
<div class="resultDiv">
  <div class="container-fluid">
    <div class="card-deck-custom">
      <mat-card class="example-card divChild" *ngFor="let favorite of favorites">
        <ng-container *ngIf="!ru;else lang">
          <mat-card-header>
            <mat-card-title>{{ favorite.recipeDTO.name }}</mat-card-title>
            <mat-card-subtitle>{{'author' | translate}}: {{ favorite.recipeDTO.authorName }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image height="250" style="width: 300px" [src]="favorite.recipeDTO.imgSource"
               *ngIf="favorite.recipeDTO.imgSource !=null"
               alt="">
          <mat-card-content style="margin-left: auto">
            <div>
              <div class="div">
                <mat-icon style="margin-right: 5px;">extension</mat-icon>
                <h4>{{ favorite.recipeDTO.cookingDifficulty }}</h4>
              </div>
            </div>
            <div class="div" style="margin-top: 7px">
              <mat-icon style="margin-right: 5px;margin-top: 1px">alarm</mat-icon>
              <h4>{{ favorite.recipeDTO.cookingTime }} {{'minutes' | translate}}</h4>
            </div>
            <div style="margin-left: -9px">
              <div class="div">
                <button mat-icon-button
                        (click)="like(favorite.recipeDTO.id)"
                        type="submit">
                  <mat-icon *ngIf="favorite.recipeDTO.positiveVote == false;" style="margin: auto auto">thumb_up</mat-icon>
                  <mat-icon *ngIf="favorite.recipeDTO.positiveVote == true;" style="margin: auto auto;color: #ce93d8">thumb_up
                  </mat-icon>
                </button>
                <h4 style="margin-top: 8px">{{favorite.recipeDTO.positiveVotes}}</h4>
              </div>
              <div class="div">
                <button mat-icon-button
                        (click)="dislike(favorite.recipeDTO.id)"
                        type="submit">
                  <mat-icon *ngIf="favorite.recipeDTO.negativeVote == false;" style="margin: auto auto">thumb_down</mat-icon>
                  <mat-icon *ngIf="favorite.recipeDTO.negativeVote == true;" style="margin: auto auto;color: #ce93d8">thumb_down
                  </mat-icon>
                </button>
                <h4 style="margin-top: 8px">{{favorite.recipeDTO.negativeVotes}}</h4>
              </div>
            </div>
            <p class="card-text"><small
              class="text-muted">{{'last update' | translate}} {{ favorite.recipeDTO.lastModified | date:"dd/MM/yyyy, HH:mm:ss"}}</small></p>
            <p class="card-text"><small
              class="text-muted">{{'added at' | translate}} {{ favorite.addedAt | date:"dd/MM/yyyy, HH:mm:ss"}}</small></p>
          </mat-card-content>
          <mat-card-actions>
            <button (click)="view(favorite.recipeDTO.id)" mat-raised-button color="primary"
                    type="submit">{{'view' | translate}}</button>
            <button style="margin-left: 62%;margin-right: auto" mat-icon-button
                    color="warn" (click)="deleteFromFavorite(favorite.uuid)"
                    type="submit">
              <mat-icon style="margin: auto auto">favorite</mat-icon>
            </button>
          </mat-card-actions>
        </ng-container>
        <ng-template #lang>
          <mat-card-header>
            <mat-card-title>{{ favorite.recipeDTO.nameRu }}</mat-card-title>
            <mat-card-subtitle>{{'author' | translate}}: {{ favorite.recipeDTO.authorName }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image height="250" style="width: 300px" [src]="favorite.recipeDTO.imgSource"
               *ngIf="favorite.recipeDTO.imgSource !=null"
               alt="">
          <mat-card-content style="margin-left: auto">
            <div>
              <div class="div">
                <mat-icon style="margin-right: 5px;">extension</mat-icon>
                <h4>{{ favorite.recipeDTO.cookingDifficultyRu }}</h4>
              </div>
            </div>
            <div class="div" style="margin-top: 7px">
              <mat-icon style="margin-right: 5px;margin-top: 1px">alarm</mat-icon>
              <h4>{{ favorite.recipeDTO.cookingTime }} {{'minutes' | translate}}</h4>
            </div>
            <div style="margin-left: -9px">
              <div class="div">
                <button mat-icon-button
                        (click)="like(favorite.recipeDTO.id)"
                        type="submit">
                  <mat-icon *ngIf="favorite.recipeDTO.positiveVote == false;" style="margin: auto auto">thumb_up</mat-icon>
                  <mat-icon *ngIf="favorite.recipeDTO.positiveVote == true;" style="margin: auto auto;color: #ce93d8">thumb_up
                  </mat-icon>
                </button>
                <h4 style="margin-top: 8px">{{favorite.recipeDTO.positiveVotes}}</h4>
              </div>
              <div class="div">
                <button mat-icon-button
                        (click)="dislike(favorite.recipeDTO.id)"
                        type="submit">
                  <mat-icon *ngIf="favorite.recipeDTO.negativeVote == false;" style="margin: auto auto">thumb_down</mat-icon>
                  <mat-icon *ngIf="favorite.recipeDTO.negativeVote == true;" style="margin: auto auto;color: #ce93d8">thumb_down
                  </mat-icon>
                </button>
                <h4 style="margin-top: 8px">{{favorite.recipeDTO.negativeVotes}}</h4>
              </div>
            </div>
            <p class="card-text"><small
              class="text-muted">{{'last update' | translate}} {{ favorite.recipeDTO.lastModified | date:"dd/MM/yyyy, HH:mm:ss"}}</small></p>
            <p class="card-text"><small
              class="text-muted">{{'added at' | translate}} {{ favorite.addedAt | date:"dd/MM/yyyy, HH:mm:ss"}}</small></p>
          </mat-card-content>
          <mat-card-actions>
            <button (click)="view(favorite.recipeDTO.id)" mat-raised-button color="primary"
                    type="submit">{{'view' | translate}}</button>
            <button style="margin-left: 48%;margin-right: auto" mat-icon-button
                    color="warn" (click)="deleteFromFavorite(favorite.uuid)"
                    type="submit">
              <mat-icon style="margin: auto auto">favorite</mat-icon>
            </button>
          </mat-card-actions>
        </ng-template>
      </mat-card>
    </div>
    <div *ngIf="favorites.length != 0">
      <mat-paginator style="margin: auto 115px"
                     [length]="length"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="pageEvent = getServerData($event)">
      </mat-paginator>
    </div>
    <div *ngIf="favorites.length == 0">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="error-template">
              <h1>
                {{'Oops' | translate}}!</h1>
              <h2>
                {{'recipes in fav not found' | translate}}</h2>
              <div class="error-details">
                {{'no one in fav' | translate}}
              </div>
              <div class="error-actions">
                <button mat-raised-button color="accent" (click)="categories()" class="btn btn-primary btn-lg"><span
                  class="glyphicon glyphicon-home"></span>
                  {{'go to categories' | translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
