<h1>
  <app-back-button></app-back-button>
  <div class="qub-page-header-divider"></div>
  {{'view recipe' | translate}}
</h1>
<div class="resultDiv">
  <div class="container-fluid" style="text-align: center">
    <ng-container *ngIf="!ru;else lang">
      <mat-card>
        <mat-card-header>
          <h2 class="center">{{createRecipeDTO.name}}</h2>
          <button *ngIf="createRecipeDTO.inFavorite == false" mat-icon-button color="warn"
                  (click)="addToFavorite(createRecipeDTO.id)"
                  type="submit">
            <mat-icon>favorite_border</mat-icon>
          </button>
          <button *ngIf="createRecipeDTO.inFavorite == true" mat-icon-button
                  color="warn" (click)="deleteFromFavorite(createRecipeDTO.id)"
                  type="submit">
            <mat-icon style="margin: auto auto">favorite</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <div class="div">
            <mat-icon>timer</mat-icon>
            <h4>{{createRecipeDTO.cookingTime}} {{'minutes' | translate}}</h4>
          </div>
          <div class="div" style="margin-left: 20px">
            <mat-icon>extension</mat-icon>
            <h4>{{createRecipeDTO.cookingDifficulty}}</h4>
          </div>
        </mat-card-content>
        <img mat-card-image height="350" style="width: 80%" [src]="createRecipeDTO.imgSource"
             *ngIf="createRecipeDTO.imgSource !=null"
             alt="">
        <mat-card-content>
          <h3>{{'ingredients' | translate}}</h3>
          <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="ingredient">
              <mat-header-cell *matHeaderCellDef>{{'ingredient' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let ingredient"> {{ingredient.name}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="amount">
              <mat-header-cell *matHeaderCellDef>{{'amount' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let ingredient"> {{ingredient.amount}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="unit">
              <mat-header-cell *matHeaderCellDef>{{'unit' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let ingredient"> {{ingredient.unit}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="note">
              <mat-header-cell *matHeaderCellDef>{{'note' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let ingredient"> {{ingredient.note}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <h3 style="margin-top: 15px">{{'cooking' | translate}}</h3>
          <mat-table [dataSource]="dataSource2" class="mat-elevation-z8" style="text-align: justify">
            <ng-container matColumnDef="photo">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let step"><img [src]="step.imgSource" height="100" style="width: 150px"
                                                    *ngIf="step.imgSource != null">
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let step"> {{step.description}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
          </mat-table>
        </mat-card-content>
      </mat-card>
    </ng-container>
    <ng-template #lang>
      <mat-card>
        <mat-card-header>
          <h2 class="center">{{createRecipeDTO.nameRu}}</h2>
          <button mat-icon-button color="warn" (click)="addToFavorite(createRecipeDTO.id)"
                  type="submit">
            <mat-icon>favorite</mat-icon>
          </button>
        </mat-card-header>
        <mat-card-content>
          <div class="div">
            <mat-icon>timer</mat-icon>
            <h4>{{createRecipeDTO.cookingTime}} {{'minutes' | translate}}</h4>
          </div>
          <div class="div" style="margin-left: 20px">
            <mat-icon>extension</mat-icon>
            <h4>{{createRecipeDTO.cookingDifficultyRu}}</h4>
          </div>
        </mat-card-content>
        <img mat-card-image height="350" style="width: 80%" [src]="createRecipeDTO.imgSource"
             *ngIf="createRecipeDTO.imgSource !=null"
             alt="">
        <mat-card-content>
          <h3>{{'ingredients' | translate}}</h3>
          <mat-table [dataSource]="dataSource" class="mat-elevation-z8">
            <ng-container matColumnDef="ingredient">
              <mat-header-cell *matHeaderCellDef>{{'ingredient' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let ingredient"> {{ingredient.nameRu}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="amount">
              <mat-header-cell *matHeaderCellDef>{{'amount' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let ingredient"> {{ingredient.amount}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="unit">
              <mat-header-cell *matHeaderCellDef>{{'unit' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let ingredient"> {{ingredient.unitRu}} </mat-cell>
            </ng-container>
            <ng-container matColumnDef="note">
              <mat-header-cell *matHeaderCellDef>{{'note' | translate}}</mat-header-cell>
              <mat-cell *matCellDef="let ingredient"> {{ingredient.noteRu}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
          <h3 style="margin-top: 15px">{{'cooking' | translate}}</h3>
          <mat-table [dataSource]="dataSource2" class="mat-elevation-z8" style="text-align: justify">
            <ng-container matColumnDef="photo">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let step"><img [src]="step.imgSource" height="100" *ngIf="step.imgSource != null">
              </mat-cell>
            </ng-container>
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef></mat-header-cell>
              <mat-cell *matCellDef="let step"> {{step.descriptionRu}} </mat-cell>
            </ng-container>
            <mat-header-row *matHeaderRowDef="displayedColumns2"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns2;"></mat-row>
          </mat-table>
        </mat-card-content>
      </mat-card>
    </ng-template>
  </div>
</div>
