<div class="card-columns">
  <div class="card border-primary" *ngFor="let category of categories" style="width: 370px;">
    <form (ngSubmit)="getRipesByCategoryName(category.name)" #addToCartForm="ngForm">
      <div class="card mb-3" style="max-width: 370px;">
        <img height="250" weight="350" [src]="category.imgSource" *ngIf="category.imgSource !=null" class="card-img-top" alt="">
        <div class="card-body">
          <h5 class="card-title">{{ category.name }}</h5>
          <p class="card-text">{{ category.description }}</p>
          <button type="submit" class="btn btn-primary">{{'view recipes' | translate}}</button>
        </div>
        <div class="card-footer">
          <small class="text-muted">{{ category.tag }}</small>
        </div>
      </div>
    </form>
  </div>
</div>

