<h1>{{'categories' | translate}}</h1>
<div class="card-deck-custom">
  <mat-card class="example-card divChild" *ngFor="let category of categories">
    <ng-container *ngIf="!ru;else lang">
      <form (ngSubmit)="getRipesByCategoryName(category.name)" #addToCartForm="ngForm">
        <mat-card-header>
          <mat-card-title>{{ category.name }}</mat-card-title>
          <mat-card-subtitle>{{ category.tag }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image height="250" style="width: 400px" [src]="category.imgSource"
             *ngIf="category.imgSource !=null"
             alt="">
        <mat-card-content>
          <p>
            {{ category.description }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">{{'view recipes' | translate}}</button>
        </mat-card-actions>
      </form>
    </ng-container>
    <ng-template #lang>
      <form (ngSubmit)="getRipesByCategoryName(category.nameRu)" #addToCartForm="ngForm">
        <mat-card-header>
          <mat-card-title>{{ category.nameRu }}</mat-card-title>
          <mat-card-subtitle>{{ category.tagRu }}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image height="250" style="width: 400px" [src]="category.imgSource"
             *ngIf="category.imgSource !=null"
             alt="">
        <mat-card-content>
          <p>
            {{ category.descriptionRu }}
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">{{'view recipes' | translate}}</button>
        </mat-card-actions>
      </form>
    </ng-template>
  </mat-card>
</div>


