<h1>{{'add user' | translate}}</h1>
<div mat-dialog-content>
  <mat-form-field class="full-width">
    <mat-label>{{'first name' | translate}}</mat-label>
    <input matInput [(ngModel)]="user.firstName" value="{{user.firstName}}" #name="ngModel" required>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>{{'last name' | translate}}</mat-label>
    <input matInput [(ngModel)]="user.lastName" value="{{user.lastName}}" #lastName="ngModel" required>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>{{'email' | translate}}</mat-label>
    <input matInput [(ngModel)]="user.email" value="{{user.email}}" #email="ngModel" required email
           placeholder="Ex@example.com">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>{{'login' | translate}}</mat-label>
    <input matInput [(ngModel)]="user.login" value="{{user.login}}" #login="ngModel" required>
  </mat-form-field>
</div>
<div mat-dialog-actions class="example-button-row">
  <button mat-button (click)="onNoClick()">{{'cancel' | translate}}</button>
  <form (ngSubmit)="editUser()">
    <button type="submit" mat-raised-button color="accent" [mat-dialog-close]="data" cdkFocusInitial
            [disabled]="name.invalid || lastName.invalid || email.invalid || login.invalid">
      {{'edit user' | translate}}</button>
  </form>
</div>
