<div [hidden]="!first" id="first" class="container-fluid">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <button class="btn btn-primary btn-lg btn-block">Dish description</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-link" (click)="toIngredient(createRecipeDTO.name,createRecipeDTO.cookingDifficulty,
              createRecipeDTO.cookingTime)">Ingredients
      </button>
    </li>
    <li class="nav-item">
      <button class="btn btn-link">Cooking</button>
    </li>
  </ul>
  <div class="col-md-6 login-container" style="max-width: 100%">
    <h2 style="margin: auto">Description</h2>
    <br/>
    <div class="form-group">
      <h6 for="name">Name:</h6>
      <input (change)="checkRecipe()" style="max-width: 50%" type="text" [(ngModel)]="createRecipeDTO.name" class="form-control" id="name"
             autocomplete="off" #name="ngModel" placeholder="{{createRecipeDTO.name}}" required>
      <div *ngIf="name.invalid" style="color: red">Required</div>
    </div>
    <h2 style="margin: auto">Selection of characteristics</h2>
    <br/>
    <div class="form-group">
      <div class="row">
        <div class="col">
          <h6 for="minute">Difficulty:</h6>
          <div class="form-check form-check-inline">
            <input [(ngModel)]="createRecipeDTO.cookingDifficulty" class="form-check-input" type="radio"
                   name="exampleRadios" id="exampleRadios1" value="EASY" #difficulty="ngModel" required>
            <label class="form-check-label" for="exampleRadios1">EASY</label>
          </div>
          <div class="form-check form-check-inline">
            <input [(ngModel)]="createRecipeDTO.cookingDifficulty" class="form-check-input" type="radio"
                   name="exampleRadios" id="exampleRadios2" value="MEDIUM" #difficulty="ngModel" required>
            <label class="form-check-label" for="exampleRadios2">MEDIUM</label>
          </div>
          <div class="form-check form-check-inline">
            <input [(ngModel)]="createRecipeDTO.cookingDifficulty" class="form-check-input" type="radio"
                   name="exampleRadios" id="exampleRadios3" value="HARD" #difficulty="ngModel" required>
            <label class="form-check-label" for="exampleRadios3">HARD</label>
          </div>
          <div *ngIf="difficulty.invalid" style="color: red">Required</div>
        </div>
        <div class="col">
          <h6 for="minute">Minutes:</h6>
          <input style="width: 100px" type="text" name="minute" [(ngModel)]="createRecipeDTO.cookingTime"
                 class="form-control"
                 id="minute"
                 autocomplete="off" #minutes="ngModel"
                 placeholder="{{createRecipeDTO.cookingTime}}" required pattern="[0-9]{1,7}">
          <div *ngIf="minutes.invalid" style="color: red">Required or incorrect value</div>
        </div>
      </div>
    </div>
    <div class="form-group">
      <div class="row">
        <div class="col">
          <h6 for="minute">Category:</h6>
          <div class="form-check form-check-inline" *ngFor="let category of categories">
            <input (change)="checkArray(category)" class="form-check-input" type="checkbox"
                   id="inlineCheckbox1" value="{{category.name}}" name="check">
            <label class="form-check-label" for="inlineCheckbox1">{{category.name}}</label>
          </div>
        </div>
      </div>
    </div>
    <h5>Photo:</h5>
    <img height="100" weight="100" [src]="createRecipeDTO.imgSource" *ngIf="createRecipeDTO.imgSource !=null">
    <h5>New Photo:</h5>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
      </div>
      <div class="custom-file">
        <input type="file" (change)="handleFileInput($event)" class="custom-file-input"
               id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>
    <div>
      <img [src]="imgURL" height="100" weight="100" *ngIf="imgURL">
    </div>
    <button style="width: 300px" class="btn btn-success"
            (click)="toIngredient(createRecipeDTO.name,createRecipeDTO.cookingDifficulty,
              createRecipeDTO.cookingTime)">
      Continue
    </button>
  </div>
</div>


<div [hidden]="!second" id="second" class="container-fluid">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <button class="btn btn-link" (click)="toDescription()">Dish description</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-primary btn-lg btn-block">Ingredients</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-link" (click)="toCooking()">Cooking</button>
    </li>
  </ul>
  <h2 style="margin: auto">Add ingredients</h2>
  <table id="ingredientTable" class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Ingredient</th>
      <th scope="col">Amount</th>
      <th scope="col">Unit</th>
      <th scope="col">Note</th>
      <th scope="col">Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr id="ingredient" name="ingredient" *ngFor="let ingredient of ingredients">
      <td name="i.name">{{ingredient.name}}</td>
      <td name="i.amount">{{ingredient.amount}}</td>
      <td name="i.unit">{{ingredient.unit}}</td>
      <td name="i.note">{{ingredient.note}}</td>
      <td>
        <button name="delete" (click)="deleteIngredient(ingredient.name)" class='btn btn-danger'>Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
  <div class="form-group">
    <div class="row">
      <div class="col">
        <h6 for="name">Ingredient name:</h6>
        <select class="custom-select" id="ingredientName" [(ngModel)]="ingredient.name"
                #ingName="ngModel" required>
          <option *ngFor="let ingredient of allIngredients" value="{{ingredient.name}}">{{ingredient.name}}</option>
        </select>
        <div *ngIf="ingName.invalid" style="color: red">Required</div>
      </div>
      <div class="col">
        <h6 for="name">Amount:</h6>
        <input type="text" name="amount"
               class="form-control"
               id="amount"
               autocomplete="off"
               [(ngModel)]="ingredient.amount"
               #amount="ngModel" required pattern="[0-9]{1,7}">
        <div *ngIf="amount.invalid" style="color: red">Required or incorrect value</div>
      </div>
      <div class="col">
        <h6 for="name">Unit:</h6>
        <select class="custom-select" id="unit" [(ngModel)]="ingredient.unit"
                #unit1="ngModel" required>
          <option *ngFor="let u of unit" value="{{u}}">{{u}}</option>
        </select>
        <div *ngIf="unit1.invalid" style="color: red">Required</div>
      </div>
      <div class="col">
        <h6 for="name">Note:</h6>
        <input type="text" name="note"
               class="form-control"
               id="note"
               autocomplete="off"
               [(ngModel)]="ingredient.note">
      </div>
      <div class="col">
        <br/>
        <button type="submit" [disabled]="ingName.invalid || unit1.invalid || amount.invalid"
                (click)="addIngredient(ingredient.name,ingredient.amount,ingredient.unit,ingredient.note)"
                class="btn btn-success">Add ingredient +
        </button>
      </div>
    </div>
  </div>
  <button style="width: 300px" type="submit" (click)="toCooking()" class="btn btn-success ">Continue</button>
</div>

<div [hidden]="!third" id="third" class="container-fluid">
  <ul class="nav nav-pills nav-fill">
    <li class="nav-item">
      <button class="btn btn-link" (click)="toDescription()">Dish description</button>
    </li>
    <li class="nav-item">
      <button class="btn btn-link" (click)="toIngredient(createRecipeDTO.name,createRecipeDTO.cookingDifficulty,
              createRecipeDTO.cookingTime)">Ingredients
      </button>
    </li>
    <li class="nav-item">
      <button class="btn btn-primary btn-lg btn-block">Cooking</button>
    </li>
  </ul>
  <div class="col-md-6 login-container" style="max-width: 100%">
    <h2 style="margin: auto">Cooking</h2>
    <br/>
    <table id="stepTable" class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Number</th>
        <th scope="col">Photo</th>
        <th scope="col">Name</th>
        <th scope="col">Description</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr id="cookingStep" *ngFor="let step of cookingSteps">
        <td name="c.number">{{step.number}}</td>
        <td name="c.photo"><img [src]="step.imgSource" height="100" weight="100" *ngIf="step.imgSource != null"></td>
        <td name="c.name">{{step.name}}</td>
        <td name="c.description">{{step.description}}</td>
        <td>
          <button class='btn btn-danger' (click)="deleteStep(step.name)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>

    <div class="form-group">
      <h6>Name of cooking step:</h6>
      <input type="text" name="s.name" [(ngModel)]="cookingStep.name" class="form-control" autocomplete="off"
             #cookName="ngModel" required>
      <div *ngIf="cookName.invalid" style="color: red">Required</div>
    </div>
    <div class="form-group">
      <h6>Description:</h6>
      <textarea name="s.description" class="form-control" [(ngModel)]="cookingStep.description"
                #cookDescription="ngModel" autocomplete="off" required></textarea>
      <div *ngIf="cookDescription.invalid" style="color: red">Required</div>
    </div>
    <h6>Photo:</h6>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon02">Upload</span>
      </div>
      <div class="custom-file">
        <input type="file" (change)="handleFileInput2($event)" class="custom-file-input"
               id="inputGroupFile02" aria-describedby="inputGroupFileAddon02">
        <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
      </div>
    </div>
    <div>
      <img [src]="imgURL2" height="100" weight="100" *ngIf="imgURL2">
    </div>
    <div>
      <button type="submit" class="btn btn-success" [disabled]="cookDescription.invalid || cookName.invalid"
              (click)="addCookingStep(cookingStep.name,cookingStep.description,cookingSteps.length)">Add
        cooking step +
      </button>
    </div>

    <br/>
    <form (ngSubmit)="onSubmit()">
      <button [disabled]="name.invalid || difficulty.invalid || minutes.invalid"
              style="width: 300px" type="submit" class="btn btn-success">Edit recipe
      </button>
    </form>
  </div>
</div>
