<div class="row" [hidden]="!showDeleteMessage">
  <div class="col-sm-4">
    <div class="alert alert-info alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>User Data Deleted</strong>
    </div>
  </div>
</div>

<div *ngIf="firstDiv" class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#/admin">Admin panel</a></li>
      <li class="breadcrumb-item active" aria-current="page">All users</li>
    </ol>
  </nav>
  <h2>Users</h2>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">Login</th>
      <th scope="col">FirstName</th>
      <th scope="col">LastName</th>
      <th scope="col">Email</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.login }}</td>
      <td>{{ user.firstName }}</td>
      <td>{{ user.lastName }}</td>
      <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
      <td>
        <button class='btn btn-success divChild2' (click)="add()">Add
        </button>
        <button (click)="view(user.id)" class='btn btn-info divChild2'>View
        </button>
        <button class='btn btn-warning divChild2' (click)="edit(user.id)">Edit
        </button>
        <button (click)="deleteUser(user.id)" class='btn btn-danger divChild2'>Delete
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
<div class="container-fluid" *ngIf="secondDiv">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <button class="btn btn-link" (click)="toAdmin()">Admin panel</button>
      </li>
      <li class="breadcrumb-item">
        <button class="btn btn-link" (click)="toView()">All Users</button>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <button class="btn btn-link" disabled>Add User</button>
      </li>
    </ol>
  </nav>
  <div class="col-md-6 login-container" style="max-width: 70%">
    <h2 style="margin: auto">Add User</h2>
    <br/>
    <div class="form-group">
      <h6 for="name">First Name:</h6>
      <input type="text" [(ngModel)]="user.firstName" class="form-control" id="name"
             autocomplete="off" #name="ngModel" required>
      <div *ngIf="name.invalid" style="color: red">Required</div>
      <h6 for="name">Last Name:</h6>
      <input type="text" [(ngModel)]="user.lastName" class="form-control" id="lastName"
             autocomplete="off" #lastName="ngModel" required>
      <div *ngIf="lastName.invalid" style="color: red">Required</div>
      <h6 for="name">Email:</h6>
      <input type="text" [(ngModel)]="user.email" class="form-control" id="email"
             autocomplete="off" #email="ngModel" required email>
      <div *ngIf="email.invalid" style="color: red">Required or invalid value</div>
      <h6 for="name">Login:</h6>
      <input type="text" [(ngModel)]="user.login" class="form-control" id="login"
             autocomplete="off" #login="ngModel" required>
      <div *ngIf="login.invalid" style="color: red">Required</div>
      <h6 for="name">Password:</h6>
      <input type="password" [(ngModel)]="user.password" class="form-control" id="pass"
             autocomplete="off" #pass="ngModel" required>
      <div *ngIf="pass.invalid" style="color: red">Required</div>
    </div>
    <div>
      <button
        [disabled]="name.invalid || lastName.invalid || email.invalid || login.invalid || pass.invalid"
        style="width: 300px" class="btn btn-success" (click)="addUser()">Add User
      </button>
    </div>
  </div>
</div>
<div class="container-fluid" *ngIf="thirdDiv">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <button class="btn btn-link" (click)="toAdmin()">Admin panel</button>
      </li>
      <li class="breadcrumb-item">
        <button class="btn btn-link" (click)="toView()">All Users</button>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <button class="btn btn-link" disabled>Edit User</button>
      </li>
    </ol>
  </nav>
  <div class="col-md-6 login-container" style="max-width: 70%">
    <h2 style="margin: auto">Edit User</h2>
    <br/>
    <div class="form-group">
      <h6 for="name">First Name:</h6>
      <input type="text" [(ngModel)]="user.firstName" class="form-control" id="name2"
             autocomplete="off" #name="ngModel" required>
      <div *ngIf="name.invalid" style="color: red">Required</div>
      <h6 for="name">Last Name:</h6>
      <input type="text" [(ngModel)]="user.lastName" class="form-control" id="lastName2"
             autocomplete="off" #lastName="ngModel" required>
      <div *ngIf="lastName.invalid" style="color: red">Required</div>
      <h6 for="name">Email:</h6>
      <input type="text" [(ngModel)]="user.email" class="form-control" id="email2"
             autocomplete="off" #email="ngModel" required email>
      <div *ngIf="email.invalid" style="color: red">Required or invalid value</div>
      <h6 for="name">Login:</h6>
      <input type="text" [(ngModel)]="user.login" class="form-control" id="login2"
             autocomplete="off" #login="ngModel" required>
      <div *ngIf="login.invalid" style="color: red">Required</div>
    </div>
    <div>
      <button
        [disabled]="name.invalid || lastName.invalid || email.invalid || login.invalid"
        style="width: 300px" class="btn btn-success" (click)="editUser()">Edit User
      </button>
    </div>
  </div>
</div>
