<div class="row" [hidden]="!showDeleteMessage">
  <div class="col-sm-4">
    <div class="alert alert-info alert-dismissible">
      <button type="button" class="close" data-dismiss="alert">×</button>
      <strong>User Data Deleted</strong>
    </div>
  </div>
</div>

<div class="card my-5">
  <div class="card-body">
    <h2>Users</h2>
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">Login</th>
        <th scope="col">FirstName</th>
        <th scope="col">LastName</th>
        <th scope="col">Email</th>
        <th scope="col">Actions</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.login }}</td>
        <td>{{ user.firstName }}</td>
        <td>{{ user.lastName }}</td>
        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
        <td>
          <button class='btn btn-success divChild'>Add
          </button>
          <button (click)="view(user.id)" class='btn btn-info divChild'>View
          </button>
          <button class='btn btn-warning divChild'>Edit
          </button>
          <button (click)="deleteUser(user.id)" class='btn btn-danger divChild'>Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
