<div *ngIf="firstDiv" class="container-fluid">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#/admin">{{'admin panel' | translate}}</a></li>
      <li class="breadcrumb-item active" aria-current="page">{{'all categories' | translate}}</li>
    </ol>
  </nav>
  <h2>{{'categories' | translate}}</h2>
  <table class="table table-bordered table-striped">
    <thead class="thead-dark">
    <tr>
      <th scope="col">{{'photo' | translate}}</th>
      <th scope="col">{{'name' | translate}}</th>
      <th scope="col">{{'description' | translate}}</th>
      <th scope="col">{{'tag' | translate}}</th>
      <th scope="col">{{'actions' | translate}}</th>
    </tr>
    </thead>
    <tbody *ngIf="!ru;else lang">
    <tr *ngFor="let category of allCategories">
      <td><img [src]="category.imgSource" height="100" weight="100" *ngIf="category.imgSource != null"></td>
      <td>{{ category.name }}</td>
      <td>{{ category.description }}</td>
      <td>{{ category.tag }}</td>
      <td>
        <button (click)="add()" class='btn btn-success divChild2'>{{'add' | translate}}
        </button>
        <button (click)="view(category.id)" class='btn btn-info divChild2'>{{'view' | translate}}
        </button>
        <button (click)="edit(category.id)" class='btn btn-warning divChild2'>{{'edit' | translate}}
        </button>
        <button (click)="delete(category.id)" class='btn btn-danger divChild2'>{{'delete' | translate}}
        </button>
      </td>
    </tr>
    </tbody>
    <ng-template #lang>
      <tbody>
      <tr *ngFor="let category of allCategories">
        <td><img [src]="category.imgSource" height="100" weight="100" *ngIf="category.imgSource != null"></td>
        <td>{{ category.nameRu }}</td>
        <td>{{ category.descriptionRu }}</td>
        <td>{{ category.tagRu }}</td>
        <td>
          <button (click)="add()" class='btn btn-success divChild2'>{{'add' | translate}}
          </button>
          <button (click)="view(category.id)" class='btn btn-info divChild2'>{{'view' | translate}}
          </button>
          <button (click)="edit(category.id)" class='btn btn-warning divChild2'>{{'edit' | translate}}
          </button>
          <button (click)="delete(category.id)" class='btn btn-danger divChild2'>{{'delete' | translate}}
          </button>
        </td>
      </tr>
      </tbody>
    </ng-template>

  </table>
</div>
<div class="container-fluid" *ngIf="secondDiv">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <button class="btn btn-link" (click)="toAdmin()">{{'admin panel' | translate}}</button>
      </li>
      <li class="breadcrumb-item">
        <button class="btn btn-link" (click)="toView()">{{'all categories' | translate}}</button>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <button class="btn btn-link" disabled>{{'add category' | translate}}</button>
      </li>
    </ol>
  </nav>
  <div class="col-md-6 login-container" style="max-width: 70%">
    <h2 style="margin: auto">{{'add category' | translate}}</h2>
    <br/>
    <div class="form-group">
      <h6 for="name">{{'name' | translate}}:</h6>
      <input type="text" [(ngModel)]="category.name" class="form-control" id="name"
             autocomplete="off" #name="ngModel" required>
      <div *ngIf="name.invalid" style="color: red">{{'required' | translate}}</div>
      <h6 for="name">{{'description' | translate}}:</h6>
      <input type="text" [(ngModel)]="category.description" class="form-control" id="description"
             autocomplete="off" #description="ngModel" required>
      <div *ngIf="description.invalid" style="color: red">{{'required' | translate}}</div>
      <h6 for="name">{{'tag' | translate}}:</h6>
      <input type="text" [(ngModel)]="category.tag" class="form-control" id="tag"
             autocomplete="off" #tag="ngModel" required>
      <div *ngIf="tag.invalid" style="color: red">{{'required' | translate}}</div>
    </div>
    <h6 for="name">{{'photo' | translate}}:</h6>
    <div>
      <img [src]="imgURL" height="100" weight="100" *ngIf="imgURL">
    </div>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon01">{{'upload' | translate}}</span>
      </div>
      <div class="custom-file">
        <input type="file" (change)="handleFileInput($event)" class="custom-file-input"
               id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">{{'choose file' | translate}}</label>
      </div>
    </div>
    <form (ngSubmit)="addCategory()">
      <button style="width: 300px" type="submit" class="btn btn-success" [disabled]="name.invalid || description.invalid
       || tag.invalid">{{'add category' | translate}}
      </button>
    </form>
  </div>
</div>
<div class="container-fluid" *ngIf="thirdDiv">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <button class="btn btn-link" (click)="toAdmin()">{{'admin panel' | translate}}</button>
      </li>
      <li class="breadcrumb-item">
        <button class="btn btn-link" (click)="toView()">{{'all categories' | translate}}</button>
      </li>
      <li class="breadcrumb-item active" aria-current="page">
        <button class="btn btn-link" disabled>{{'edit category' | translate}}</button>
      </li>
    </ol>
  </nav>
  <div class="col-md-6 login-container" style="max-width: 70%">
    <h2 style="margin: auto">{{'edit category' | translate}}</h2>
    <br/>
    <div class="form-group">
      <h6 for="name">{{'name' | translate}}:</h6>
      <input type="text" [(ngModel)]="category.name" class="form-control" id="name2"
             autocomplete="off" #name="ngModel" value="{{category.name}}" required>
      <div *ngIf="name.invalid" style="color: red">{{'required' | translate}}</div>
      <h6 for="name">{{'description' | translate}}:</h6>
      <input type="text" [(ngModel)]="category.description" class="form-control" id="description2"
             autocomplete="off" #description="ngModel" value="{{category.description}}" required>
      <div *ngIf="description.invalid" style="color: red">{{'required' | translate}}</div>
      <h6 for="name">{{'tag' | translate}}:</h6>
      <input type="text" [(ngModel)]="category.tag" value="{{category.tag}}" class="form-control" id="tag2"
             autocomplete="off" #tag="ngModel" required>
      <div *ngIf="tag.invalid" style="color: red">{{'required' | translate}}</div>
      <h6>{{'photo' | translate}}:</h6>
      <img id="img" [src]="category.imgSource" height="100" weight="100" *ngIf="category.imgSource !=null">
    </div>
    <h6>{{'new photo' | translate}}:</h6>
    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text" id="inputGroupFileAddon02">{{'upload' | translate}}</span>
      </div>
      <div class="custom-file">
        <input type="file" (change)="handleFileInput2($event)" class="custom-file-input"
               id="inputGroupFile02" aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">{{'choose file' | translate}}</label>
      </div>
    </div>
    <div>
      <img [src]="imgURL2" height="100" weight="100" *ngIf="imgURL2">
    </div>
    <div>
      <button style="width: 300px" class="btn btn-success" (click)="editCategory()"
              [disabled]="name.invalid || description.invalid
       || tag.invalid">{{'edit category' | translate}}
      </button>
    </div>
  </div>
</div>


