<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <title>Title</title>
</head>
<body>
<div class="container-fluid">
    <!--/*@thymesVar id="userEntity" type="com.samsolutions.recipes.model.UserEntity"*/-->
    <form action="#"
          th:action="@{/admin/update/{id}(id=${userEntity.id})}"
          th:object="${userEntity}"
          method="post">
        <div class="form-group row">
            <label th:text="#{user.firstName}" class="col-sm-2 col-form-label" for="firstName"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control is-valid" th:field="*{firstName}" id="firstName"
                       th:placeholder="#{user.firstName}" required/>
            </div>
        </div>
        <span class="badge badge-pill badge-light" th:if="${#fields.hasErrors('firstName')}"
              th:errors="*{firstName}"></span>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="lastName" th:text="#{user.lastName}"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control is-valid" th:field="*{lastName}" id="lastName"
                       th:placeholder="#{user.lastName}" required/>
            </div>
        </div>
        <span class="badge badge-pill badge-light" th:if="${#fields.hasErrors('lastName')}"
              th:errors="*{lastName}"></span>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="login" th:text="#{user.login}"></label>
            <div class="col-sm-10">
                <input class="form-control is-valid" type="text" th:field="*{login}" id="login"
                       th:placeholder="#{user.login}" required/>
            </div>
        </div>
        <span class="badge badge-pill badge-light" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="email" th:text="#{user.email}"></label>
            <div class="col-sm-10">
                <input class="form-control is-valid" type="text" th:field="*{email}" id="email"
                       th:placeholder="#{user.email}" required/>
            </div>
        </div>
        <span class="badge badge-pill badge-light" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="password" th:text="#{user.password}"></label>
            <div class="col-sm-10">
                <input class="form-control is-valid" type="password" th:field="*{password}" id="password"
                       th:placeholder="#{user.password}" required/>
            </div>
        </div>
        <span class="badge badge-pill badge-light" th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}"></span>
        <input class="btn btn-primary" type="submit" th:value="#{saveChanges}"/>
    </form>
    <p><a class="badge badge-light" href="/admin/users" th:text="#{adminPage}"></a></p>
    <span class="badge badge-pill badge-light" th:text="#{lang.change}"></span>
    <div>
        <a class="badge badge-dark" href="?locale=ru" th:text="#{lang.ru}">RU</a>
        <a class="badge badge-dark" href="?locale=en" th:text="#{lang.eng}">EN</a>
    </div>
</div>
</body>
</html>