<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="userEntity" type="com.samsolutions.recipes.model.UserEntity"*/-->
<h2 th:text="#{users}"></h2>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col" th:text="#{user.firstName}"></th>
        <th scope="col" th:text="#{user.lastName}"></th>
        <th scope="col" th:text="#{user.login}"></th>
        <th scope="col" th:text="#{user.email}"></th>
        <th scope="col" th:text="#{edit}"></th>
        <th scope="col" th:text="#{delete}"></th>
        <th scope="col" th:text="#{role.edit}"></th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="users" type="com.samsolutions.recipes.controller"*/-->
    <tr th:each="userEntity : ${users}">
        <td th:text="${userEntity.firstName}"></td>
        <td th:text="${userEntity.lastName}"></td>
        <td th:text="${userEntity.login}"></td>
        <td th:text="${userEntity.email}"></td>
        <td><a th:href="@{/admin/edit/{login}(login=${userEntity.login})}" th:text="#{edit}"></a></td>
        <td><a th:href="@{/admin/delete/{login}(login=${userEntity.login})}" th:text="#{delete}"></a></td>
        <td><a th:href="@{/admin/editRole/{login}(login=${userEntity.login})}" th:text="#{role.edit}"></a></td>
    </tr>
    </tbody>
</table>
<p>
<form action="#"
      th:object="${userEntity}"
      th:action="@{/admin/signUp}"
      method="get">
    <input type="submit" class="btn btn-success" th:value="#{user.add.addUser}"/>
</form>
</p>
<p><a class="badge badge-light" href="/" th:text="#{homePage}"></a></p>
<span class="badge badge-pill badge-light" th:text="#{lang.change}"></span>
<div>
    <a class="badge badge-dark" href="?locale=ru" th:text="#{lang.ru}">RU</a>
    <a class="badge badge-dark" href="?locale=en" th:text="#{lang.eng}">EN</a>
</div>
</body>
</html>