<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="userEntity" type="com.samsolutions.recipes.model.UserEntity"*/-->
<h2 th:text="#{users}"></h2>
<table>
    <thead>
    <tr>
        <th th:text="#{user.uui}"></th>
        <th th:text="#{user.firstName}"></th>
        <th th:text="#{user.lastName}"></th>
        <th th:text="#{user.login}"></th>
        <th th:text="#{user.email}"></th>
        <th th:text="#{userRole}"></th>
        <th th:text="#{edit}"></th>
        <th th:text="#{delete}"></th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="users" type="com.samsolutions.recipes.controller"*/-->
    <tr th:each="userEntity : ${users}">
        <td th:text="${userEntity.id}"></td>
        <td th:text="${userEntity.firstName}"></td>
        <td th:text="${userEntity.lastName}"></td>
        <td th:text="${userEntity.login}"></td>
        <td th:text="${userEntity.email}"></td>
        <td th:text="${userEntity.roles}"></td>
        <td><a th:href="@{/admin/edit/{id}(id=${userEntity.id})}" th:text="#{edit}"></a></td>
        <td><a th:href="@{/admin/delete/{id}(id=${userEntity.id})}" th:text="#{delete}"></a></td>
    </tr>
    </tbody>
</table>
<p><a href="/admin/signUp" th:text="#{user.add.addUser}"></a></p>
</body>
</html>