<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap core CSS -->
    <!--https://memorynotfound.com/adding-static-resources-css-javascript-images-thymeleaf/-->
    <link href="../static/css/bootstrap.css" rel="stylesheet" th:href="@{/css/bootstrap.css}"/>
    <!-- include css in the header -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}"/>
</head>
<body>
<!--/*@thymesVar id="userEntity" type="com.samsolutions.recipes.model.UserEntity"*/-->
<h1 th:text="#{greeting}"></h1>
<h2 th:text="#{users}"></h2>
<table>
    <thead>
    <tr>
        <th th:text="#{user.uui}"></th>
        <th th:text="#{user.firstName}"></th>
        <th th:text="#{user.lastName}"></th>
        <th th:text="#{user.login}"></th>
        <th th:text="#{user.email}"></th>
        <th th:text="#{userRole}"></th>
        <th th:text="#{edit}"></th>
        <th th:text="#{delete}"></th>
        <th th:text="#{role.edit}"></th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="users" type="com.samsolutions.recipes.controller"*/-->
    <tr th:each="userEntity : ${users}">
        <td th:text="${userEntity.id}"></td>
        <td th:text="${userEntity.firstName}"></td>
        <td th:text="${userEntity.lastName}"></td>
        <td th:text="${userEntity.login}"></td>
        <td th:text="${userEntity.email}"></td>
        <td th:text="${userEntity.roles}"></td>
        <td><a th:href="@{/admin/edit/{id}(id=${userEntity.id})}" th:text="#{edit}"></a></td>
        <td><a th:href="@{/admin/delete/{id}(id=${userEntity.id})}" th:text="#{delete}"></a></td>
        <td><a th:href="@{/admin/editRole/{login}(login=${userEntity.login})}" th:text="#{role.edit}"></a></td>
    </tr>
    </tbody>
</table>
<p><a href="/admin/signUp" th:text="#{user.add.addUser}"></a></p>
<p><a href="/client/index/" th:text="#{homePage}"></a></p>
<span th:text="#{lang.change}"></span>
<div>
    <a href="?locale=ru" th:text="#{lang.ru}">RU</a>
    <a href="?locale=en" th:text="#{lang.eng}">EN</a>
</div>
</body>
</html>