<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <title>Title</title>
</head>
<body>
<h2 th:text="#{managerRoles}"></h2>
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/" th:text="#{homePage}"></a></li>
        <li class="breadcrumb-item"><a href="/admin/users" th:text="#{adminPage}"></a></li>
        <li class="breadcrumb-item active" aria-current="page" th:text="#{role.edit}"></li>
    </ol>
</nav>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col" th:text="#{userRole}"></th>
        <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="users" type="com.samsolutions.recipes.controller"*/-->
    <!--/*@thymesVar id="userEntity" type="com.samsolutions.recipes.model.UserEntity"*/-->
    <tr th:each="RoleDTO : ${userRoles}">
        <td th:text="${RoleDTO.name}"></td>
        <td th:text="${RoleDTO.description}"></td>
    </tr>
    </tbody>
</table>
<!--/*@thymesVar id="userEntity" type="com.samsolutions.recipes.model.UserEntity"*/-->
<h3 th:text="#{roleOperations}"></h3>
<table class="table">
    <thead class="thead-dark">
    <tr>
        <th scope="col" th:text="#{userRole}"></th>
        <th scope="col" th:text="#{role.add}"></th>
        <th scope="col" th:text="#{role.delete}"></th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="users" type="com.samsolutions.recipes.controller"*/-->
    <!--/*@thymesVar id="userEntity" type="com.samsolutions.recipes.model.UserEntity"*/-->
    <tr th:object="${userEntity}">
        <td th:text="#{admin}"></td>
        <td>
            <form action="#"
                  th:object="${userEntity}"
                  th:action="@{/admin/addRole/{login}/{role}(login=${userEntity.login},role='ADMIN')}"
                  method="get">
                <input type="submit" class="btn btn-success" th:value="#{role.add}"/>
            </form>
        </td>
        <td>
            <form action="#"
                  th:object="${userEntity}"
                  th:action="@{/admin/deleteRole/{login}/{role}(login=${userEntity.login},role='ADMIN')}"
                  method="get">
                <input id="delete" type="submit" class="btn btn-danger" th:value="#{role.delete}"/>
            </form>
        </td>
    </tr>
    <tr th:object="${userEntity}">
        <td th:text="#{author}"></td>
        <td>
            <form action="#"
                  th:object="${userEntity}"
                  th:action="@{/admin/addRole/{login}/{role}(login=${userEntity.login},role='AUTHOR')}"
                  method="get">
                <input type="submit" class="btn btn-success" th:value="#{role.add}"/>
            </form>
        </td>
        <td>
            <form action="#"
                  th:object="${userEntity}"
                  th:action="@{/admin/deleteRole/{login}/{role}(login=${userEntity.login},role='AUTHOR')}"
                  method="get">
                <input type="submit" class="btn btn-danger" th:value="#{role.delete}"/>
            </form>
        </td>
    </tr>
    <tr th:object="${userEntity}">
        <td th:text="#{viewer}"></td>
        <td>
            <form action="#"
                  th:object="${userEntity}"
                  th:action="@{/admin/addRole/{login}/{role}(login=${userEntity.login},role='VIEWER')}"
                  method="get">
                <input type="submit" class="btn btn-success" th:value="#{role.add}"/>
            </form>
        </td>
        <td>
            <form action="#"
                  th:object="${userEntity}"
                  th:action="@{/admin/deleteRole/{login}/{role}(login=${userEntity.login},role='VIEWER')}"
                  method="get">
                <input type="submit" class="btn btn-danger" th:value="#{role.delete}"/>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<span class="badge badge-pill badge-light" th:text="#{lang.change}"></span>
<div>
    <a class="badge badge-dark" href="?locale=ru" th:text="#{lang.ru}">RU</a>
    <a class="badge badge-dark" href="?locale=en" th:text="#{lang.eng}">EN</a>
</div>
</body>
</html>