<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h2 th:text="#{users}"></h2>
<table>
    <thead>
    <tr>
        <th th:text="#{user.login}"></th>
        <th th:text="#{userRole}"></th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="users" type="com.samsolutions.recipes.controller"*/-->
    <!--/*@thymesVar id="userEntity" type="com.samsolutions.recipes.model.UserEntity"*/-->
    <tr th:object="${userEntity}">
        <td th:text="${userEntity.login}"></td>
        <td th:text="${userEntity.roles}"></td>
    </tr>
    </tbody>
</table>
<p><a href="/admin/users" th:text="#{adminPage}"></a></p>
<!--/*@thymesVar id="userEntity" type="com.samsolutions.recipes.model.UserEntity"*/-->
<form action="#"
      th:object="${userEntity}"
      th:action="@{/admin/addRole/{login}/{role}(login=${userEntity.login},role='ADMIN')}"
      method="get">
    <label th:text="#{admin}"></label>
    <input type="submit" th:value="#{role.add}"/>
</form>
<form action="#"
      th:object="${userEntity}"
      th:action="@{/admin/addRole/{login}/{role}(login=${userEntity.login},role='VIEWER')}"
      method="get">
    <label th:text="#{viewer}"></label>
    <input type="submit" th:value="#{role.add}"/>
</form>
<form action="#"
      th:object="${userEntity}"
      th:action="@{/admin/addRole/{login}/{role}(login=${userEntity.login},role='AUTHOR')}"
      method="get">
    <label th:text="#{author}"></label>
    <input type="submit" th:value="#{role.add}"/>
</form>
</body>
</html>