<div class="resultDiv">
  <div [hidden]="!first" id="first" class="container-fluid">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <button class="btn btn-info btn-lg btn-block">{{'search by name' | translate}}</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-info btn-lg btn-block"
                (click)="byIngredients()">{{'search by ingredients' | translate}}</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-info btn-lg btn-block"
                (click)="byRecipes()">{{'search by parameters' | translate}}</button>
      </li>
    </ul>
    <div class="input-group mb-6 div bg-info" style="padding-bottom: 10px">
      <ng-container *ngIf="!ru;else lang">
        <input type="text" class="form-control divChild" placeholder="{{'search by recipe name' | translate}}"
               aria-label="Recipient's username"
               aria-describedby="button-addon2" [(ngModel)]="recipe.name">
        <div class="input-group-append divChild">
          <button class="btn btn-success" type="button" id="button-addon1" (click)="searchByName(recipe.name)">
            {{'search' | translate}}
          </button>
        </div>
      </ng-container>
      <ng-template #lang>
        <input type="text" class="form-control divChild" placeholder="{{'search by recipe name' | translate}}"
               aria-label="Recipient's username"
               aria-describedby="button-addon2" [(ngModel)]="recipe.nameRu">
        <div class="input-group-append divChild">
          <button class="btn btn-success" type="button" (click)="searchByName(recipe.nameRu)">
            {{'search' | translate}}
          </button>
        </div>
      </ng-template>
      <input type="text" class="form-control divChild" placeholder="{{'search by author name' | translate}}"
             aria-label="Recipient's username"
             aria-describedby="button-addon2"
             id="authorName" [(ngModel)]="author.login">
      <div class="input-group-append divChild">
        <button class="btn btn-success" type="button" id="button-addon2"
                (click)="searchByAuthorName(author.login)">{{'search' | translate}}
        </button>
      </div>
    </div>
  </div>

  <div [hidden]="!second" id="second" class="container-fluid">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <button class="btn btn-outline-info btn-lg btn-block"
                (click)="byName()">{{'search by name' | translate}}</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-info btn-lg btn-block">{{'search by ingredients' | translate}}</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-info btn-lg btn-block"
                (click)="byRecipes()">{{'search by parameters' | translate}}</button>
      </li>
    </ul>
    <div class="bg-info" style="padding-bottom: 10px">
      <div class="card text-white bg-info mb-3" style="width: 100%">
        <div class="card-header">{{'selected ingredients' | translate}}:</div>
        <div class="card-body text-dark">
          <div class="div">
            <ul *ngFor="let i of ingredientNameDTOS" class="divChild">
              <li>
                <ng-container *ngIf="!ru;else lang2">
                  <button class="btn btn-light">{{i.name}}</button>
                  <button class="btn btn-danger" (click)="deleteFromCart(i.name)">x</button>
                </ng-container>
                <ng-template #lang2>
                  <button class="btn btn-light">{{i.nameRu}}</button>
                  <button class="btn btn-danger" (click)="deleteFromCart(i.nameRu)">x</button>
                </ng-template>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div>
        <label>{{'droplist' | translate}}:</label>
        <ng-container *ngIf="!ru;else lang3">
          <select style="max-width: 300px" (change)="addToCart(ingredient.name)" class="custom-select"
                  data-live-search="true"
                  [(ngModel)]="ingredient.name" id="select">
            <option style="width: 1000px" *ngFor="let ingredient of allIngredients"
                    value="{{ingredient.name}}">{{ingredient.name}}</option>
          </select>
        </ng-container>
        <ng-template #lang3>
          <select style="max-width: 300px" (change)="addToCart(ingredient.nameRu)" class="custom-select"
                  data-live-search="true"
                  [(ngModel)]="ingredient.nameRu" id="select2">
            <option style="width: 1000px" *ngFor="let ingredient of allIngredients"
                    value="{{ingredient.nameRu}}">{{ingredient.nameRu}}</option>
          </select>
        </ng-template>

        <button class="divChild2 btn btn-danger" (click)="clearAll()">{{'clear' | translate}}
        </button>
      </div>
      <div class="div">
        <div id="outer" class="divChild" *ngFor="let type of keys">
          <button type="button" (click)="findIngredientByType(type)" class="btn btn-info">{{type}}</button>
        </div>
      </div>
      <div [hidden]="!typeDiv" class="div">
        <div class="divChild" *ngFor="let ingredient of typeIngredients">
          <div>
            <ng-container *ngIf="!ru;else lang4">
              <input (change)="addSelectIngredient(ingredient)" type="checkbox"
                     id="inlineCheckbox1" value="{{ingredient.name}}" name="check" [(ngModel)]="ingredient.checked">
              <label for="inlineCheckbox1">{{ingredient.name}}</label>
            </ng-container>
            <ng-template #lang4>
              <input (change)="addSelectIngredient(ingredient)" type="checkbox"
                     id="inlineCheckbox2" value="{{ingredient.nameRu}}" name="check" [(ngModel)]="ingredient.checked">
              <label for="inlineCheckbox1">{{ingredient.nameRu}}</label>
            </ng-template>
          </div>
        </div>
      </div>
    </div>
    <div>
      <button style="width: 300px" class="btn btn-success divChild" type="button" id="button-addon3"
              (click)="searchByIngredients()">{{'search' | translate}}
      </button>
    </div>
  </div>

  <div [hidden]="!third" id="third" class="container-fluid">
    <ul class="nav nav-pills nav-fill">
      <li class="nav-item">
        <button class="btn btn-outline-info btn-lg btn-block"
                (click)="byName()">{{'search by name' | translate}}</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-outline-info btn-lg btn-block"
                (click)="byIngredients()">{{'search by ingredients' | translate}}</button>
      </li>
      <li class="nav-item">
        <button class="btn btn-info btn-lg btn-block">{{'search by parameters' | translate}}</button>
      </li>
    </ul>
    <div class="card text-white bg-info mb-3" style="max-width: 100%;padding-bottom: 10px">
      <div class="card-header">{{'parameters' | translate}}</div>
      <div class="card-body">
        <h5>{{'cooking time' | translate}}:</h5>
        <div class="form-check form-check-inline">
          <input [(ngModel)]="recipeData.cookingTime" class="form-check-input" type="radio"
                 name="exampleRadios" id="exampleRadios1" value="10">
          <h6 class="form-check-label" for="exampleRadios1">{{'less than 10 min' | translate}}</h6>
        </div>
        <div class="form-check form-check-inline">
          <input [(ngModel)]="recipeData.cookingTime" class="form-check-input" type="radio"
                 name="exampleRadios" id="exampleRadios2" value="30">
          <h6 class="form-check-label" for="exampleRadios2">{{'less than 30 min' | translate}}</h6>
        </div>
        <div class="form-check form-check-inline">
          <input [(ngModel)]="recipeData.cookingTime" class="form-check-input" type="radio"
                 name="exampleRadios" id="exampleRadios3" value="60">
          <h6 class="form-check-label" for="exampleRadios3">{{'less than 1 hour' | translate}}</h6>
        </div>
        <div class="form-check form-check-inline">
          <input [(ngModel)]="recipeData.cookingTime" class="form-check-input" type="radio"
                 name="exampleRadios" id="exampleRadios4" value="1440">
          <h6 class="form-check-label" for="exampleRadios3">{{'more than 1 hour' | translate}}</h6>
        </div>
        <br/>
        <h5>{{'cooking difficulty' | translate}}:</h5>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox"
                 id="Checkbox1" value="EASY" name="check">
          <h6 class="form-check-label" for="inlineCheckbox1">{{'easy' | translate}}</h6>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox"
                 id="Checkbox2" value="MEDIUM" name="check">
          <h6 class="form-check-label" for="inlineCheckbox1">{{'medium' | translate}}</h6>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="checkbox"
                 id="Checkbox3" value="HARD" name="check">
          <h6 class="form-check-label" for="inlineCheckbox1">{{'hard' | translate}}</h6>
        </div>
      </div>
    </div>
    <button style="width: 300px" class="btn btn-success" type="button"
            (click)="searchByData(recipeData.cookingTime)">{{'search' | translate}}
    </button>
  </div>

  <div [hidden]="!recipeDiv" id="recipeDiv" class="container-fluid">
    <div class="card mb-3 card-columns recipe" *ngFor="let recipe of recipes">
      <div class="row no-gutters" *ngIf="recipe.name != null">
        <div class="col-md-4">
          <img height="250" weight="300" [src]="recipe.imgSource" *ngIf="recipe.imgSource !=null" class="card-img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <ng-container *ngIf="!ru;else lang5">
              <h5 class="card-title">{{ recipe.name }}</h5>
              <h6 class="card-text">{{'difficulty' | translate}}:{{ recipe.cookingDifficulty }}</h6>
            </ng-container>
            <ng-template #lang5>
              <h5 class="card-title">{{ recipe.nameRu }}</h5>
              <h6 class="card-text">{{'difficulty' | translate}}:{{ recipe.cookingDifficultyRu }}</h6>
            </ng-template>
            <h6 class="card-text">{{'time' | translate}}:{{ recipe.cookingTime }} {{'minutes' | translate}}</h6>
            <h6 class="card-text">{{'author' | translate}}:{{ recipe.authorName }}</h6>
            <div class="div">
              <form (ngSubmit)="view(recipe.id)" #addToCartForm="ngForm">
                <button type="submit" class="btn btn-primary">{{'view' | translate}}</button>
              </form>
              <form class="divChild2" (ngSubmit)="addToFavorite(recipe.id)">
                <button type="submit" class="btn btn-warning">{{'add to favorite' | translate}}</button>
              </form>
            </div>
            <p class="card-text"><small
              class="text-muted">{{'last update' | translate}} {{ recipe.lastModified }}</small></p>
          </div>
        </div>
      </div>
      <div *ngIf="recipe.name == null">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="error-template">
                <h1>
                  {{'oops' | translate}}!</h1>
                <h2>
                  {{'recipes not found' | translate}}</h2>
                <div class="error-details">
                  {{'no result' | translate}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
