<h1>
  <app-back-button></app-back-button>
  <div class="qub-page-header-divider"></div>
  {{'create recipe' | translate}}
</h1>
<div class="resultDiv">
  <mat-horizontal-stepper linear>
    <mat-step [editable]="isEditable">
      <ng-template matStepLabel>{{'dish description' | translate}}</ng-template>
      <mat-form-field>
        <mat-label>{{'name' | translate}}</mat-label>
        <ng-container *ngIf="!ru;else lang">
          <input #name="ngModel" matInput [(ngModel)]="createRecipeDTO.name" (change)="checkRecipe()"
                 required>
        </ng-container>
        <ng-template #lang>
          <input #nameRu="ngModel" matInput [(ngModel)]="createRecipeDTO.nameRu" (change)="checkRecipe()"
                 required>
        </ng-template>
      </mat-form-field>
      <mat-form-field style="margin-top: -10px;max-width: 15%">
        <mat-label>{{'cook time' | translate}}</mat-label>
        <input matInput type="number" [(ngModel)]="createRecipeDTO.cookingTime" min="1"
               #minutes="ngModel" required>
        <span matSuffix>{{'minutes' | translate}}</span>
      </mat-form-field>
      <mat-radio-group aria-label="Select an option" [(ngModel)]="createRecipeDTO.cookingDifficulty"
                       #difficulty="ngModel" required>
        <h4 class="mat-form-field">{{'difficulty' | translate}} * :</h4>
        <mat-radio-button value="{{'easy' | translate}}">{{'easy' | translate}}</mat-radio-button>
        <mat-radio-button value="{{'medium' | translate}}">{{'medium' | translate}}</mat-radio-button>
        <mat-radio-button value="{{'hard' | translate}}">{{'hard' | translate}}</mat-radio-button>
      </mat-radio-group>
      <h4 class="mat-form-field" style="margin-top: 20px">{{'category' | translate}} * :</h4>
      <section class="example-section">
        <div *ngFor="let category of categories">
          <ng-container *ngIf="!ru;else lang2">
            <mat-checkbox (change)="chkChange($event,category)" value="{{category.name}}"
                          class="example-margin">{{category.name}}</mat-checkbox>
          </ng-container>
          <ng-template #lang2>
            <mat-checkbox (change)="chkChange($event,category)" value="{{category.nameRu}}"
                          class="example-margin">{{category.nameRu}}</mat-checkbox>
          </ng-template>
        </div>
      </section>
      <h4 class="mat-form-field">{{'photo' | translate}}:</h4>
      <div>
        <img [src]="imgURL2" height="100" style="max-width: 100%" *ngIf="imgURL2">
      </div>
      <div class="input-group mb-3" style="margin-top: 10px; max-width: 22%">
        <div class="input-group-prepend">
          <span class="input-group-text">{{'upload' | translate}}</span>
        </div>
        <div class="custom-file">
          <input type="file" (change)="handleFileInput2($event)" class="custom-file-input"
                 aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label">{{'choose file' | translate}}</label>
        </div>
      </div>
      <button style="margin-top: 15px"
              [disabled]=" difficulty.invalid || minutes.invalid || checkedArray.length == 0"
              mat-raised-button matStepperNext (click)="translateName()">{{'next' | translate}}
        <mat-icon>keyboard_arrow_right</mat-icon>
      </button>
    </mat-step>
    <mat-step [editable]="isEditable">
      <ng-template matStepLabel>{{'ingredients' | translate}}</ng-template>
      <ng-container *ngIf="!ru;else lang3">
        <mat-chip-list aria-label="Fish selection">
          <mat-chip style="font-size: 20px" *ngFor="let fruit of fruits"
                    [removable]="removable"
                    (removed)="deleteIngredient(fruit.name)">
            {{fruit.name}} {{fruit.amount}} {{fruit.unit}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <mat-form-field style="max-width: 20%">
          <mat-label>{{'ingredient name' | translate}}</mat-label>
          <mat-select [(ngModel)]="ingredient.name" #ingName="ngModel" required>
            <mat-option *ngFor="let ingredient of allIngredients" [value]="ingredient.name">
              {{ingredient.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="max-width: 20%; margin-left: 30px">
          <mat-label>{{'amount' | translate}}</mat-label>
          <input matInput type="number" [(ngModel)]="ingredient.amount"
                 #amount="ngModel" required>
        </mat-form-field>
        <mat-form-field style="max-width: 20%; margin-left: 30px">
          <mat-label>{{'unit' | translate}}</mat-label>
          <mat-select [(ngModel)]="ingredient.unit" #unit1="ngModel" required>
            <mat-option *ngFor="let u of unit" [value]="u">
              {{u}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="max-width: 20%; margin-left: 30px">
          <mat-label>{{'note' | translate}}</mat-label>
          <input matInput [(ngModel)]="ingredient.note"
                 #note="ngModel">
        </mat-form-field>
        <button style="margin-left: 30px" mat-mini-fab
                (click)="addIngredient(ingredient.name,ingredient.amount,ingredient.unit)">
          <mat-icon style="margin-left: 8px">add</mat-icon>
        </button>
      </ng-container>
      <ng-template #lang3>
        <mat-chip-list aria-label="Fish selection">
          <mat-chip style="font-size: 20px" *ngFor="let fruit of fruits"
                    [removable]="removable"
                    (removed)="deleteIngredient(fruit.nameRu)">
            {{fruit.nameRu}} {{fruit.amount}} {{fruit.unitRu}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
        </mat-chip-list>
        <mat-form-field style="max-width: 20%">
          <mat-label>{{'ingredient name' | translate}}</mat-label>
          <mat-select [(ngModel)]="ingredient.nameRu" #ingName="ngModel" required>
            <mat-option *ngFor="let ingredient of allIngredients" [value]="ingredient.nameRu">
              {{ingredient.nameRu}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="max-width: 20%; margin-left: 30px">
          <mat-label>{{'amount' | translate}}</mat-label>
          <input matInput type="number" [(ngModel)]="ingredient.amount"
                 #amount="ngModel" required>
        </mat-form-field>
        <mat-form-field style="max-width: 20%; margin-left: 30px">
          <mat-label>{{'unit' | translate}}</mat-label>
          <mat-select [(ngModel)]="ingredient.unitRu" #unit1="ngModel" required>
            <mat-option *ngFor="let u of unit" [value]="u">
              {{u}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="max-width: 20%; margin-left: 30px">
          <mat-label>{{'note' | translate}}</mat-label>
          <input matInput [(ngModel)]="ingredient.noteRu"
                 #note="ngModel">
        </mat-form-field>
        <button style="margin-left: 30px" mat-mini-fab
                (click)="addIngredient(ingredient.nameRu,ingredient.amount,ingredient.unitRu)">
          <mat-icon style="margin-left: 8px">add</mat-icon>
        </button>
      </ng-template>
      <div>
        <button style="margin-top: 15px" mat-button matStepperPrevious mat-raised-button>
          <mat-icon>keyboard_arrow_left</mat-icon>
          {{'back' | translate}}
        </button>
        <button style="margin-top: 15px" [disabled]="fruits.length == 0"
                mat-button matStepperNext mat-raised-button>{{'next' | translate}}
          <mat-icon>keyboard_arrow_right</mat-icon>
        </button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>{{'cooking' | translate}}</ng-template>
      <mat-table [dataSource]="dataSource" class="mat-elevation-z8" style="text-align: justify"
                 *ngIf="cookingSteps.length != 0">
        <ng-container matColumnDef="photo">
          <mat-header-cell *matHeaderCellDef>{{'photo' | translate}}</mat-header-cell>
          <mat-cell *matCellDef="let step"><img [src]="step.imgSource" height="100" style="width: 150px"
                                                *ngIf="step.imgSource != null">
          </mat-cell>
        </ng-container>
        <ng-container *ngIf="!ru;else lang4">
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>{{'description' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let step"> {{step.description}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>{{'actions' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let step">
              <button (click)="deleteStep(step.description)" mat-raised-button color="primary">
                <mat-icon>delete</mat-icon>
                {{'delete' | translate}}
              </button>
            </mat-cell>
          </ng-container>
        </ng-container>
        <ng-template #lang4>
          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef>{{'description' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let step"> {{step.descriptionRu}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="actions">
            <mat-header-cell *matHeaderCellDef>{{'actions' | translate}}</mat-header-cell>
            <mat-cell *matCellDef="let step">
              <button (click)="deleteStep(step.descriptionRu)" mat-raised-button color="primary">
                <mat-icon>delete</mat-icon>
                {{'delete' | translate}}
              </button>
            </mat-cell>
          </ng-container>
        </ng-template>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-form-field class="example-full-width">
        <mat-label>{{'description' | translate}}</mat-label>
        <ng-container *ngIf="!ru;else lang4">
          <textarea [(ngModel)]="cookingStep.description" #step="ngModel" required matInput></textarea>
        </ng-container>
        <ng-template #lang4>
          <textarea [(ngModel)]="cookingStep.descriptionRu" #step="ngModel" required matInput></textarea>
        </ng-template>
      </mat-form-field>
      <h4 class="mat-form-field">{{'photo' | translate}}:</h4>
      <div>
        <img [src]="imgURL" height="100" style="max-width: 100%" *ngIf="imgURL">
      </div>
      <div class="input-group mb-3" style="margin-top: 10px; max-width: 22%">
        <div class="input-group-prepend">
          <span class="input-group-text">{{'upload' | translate}}</span>
        </div>
        <div class="custom-file">
          <input type="file" (change)="handleFileInput($event)" class="custom-file-input"
                 aria-describedby="inputGroupFileAddon01">
          <label class="custom-file-label">{{'choose file' | translate}}</label>
        </div>
      </div>
      <ng-container *ngIf="!ru;else lang5">
        <button mat-raised-button color="accent"
                (click)="addCookingStep(cookingStep.description)">
          <mat-icon>add</mat-icon>
          {{'add step' | translate}}
        </button>
      </ng-container>
      <ng-template #lang5>
        <button mat-raised-button color="accent"
                (click)="addCookingStep(cookingStep.descriptionRu)">
          <mat-icon>add</mat-icon>
          {{'add step' | translate}}
        </button>
      </ng-template>
      <div>
        <button style="margin-top: 15px" matStepperPrevious mat-raised-button>
          <mat-icon>keyboard_arrow_left</mat-icon>
          {{'back' | translate}}
        </button>
        <button [disabled]=" ((createRecipeDTO.name == null || createRecipeDTO.name == '') &&
              (createRecipeDTO.nameRu == null || createRecipeDTO.nameRu == '')) ||
        cookingSteps.length == 0 || ingredients.length == 0 || difficulty.invalid
        || minutes.invalid || checkedArray.length == 0"
                type="submit" (click)="onSubmit()" style="margin-top: 15px; margin-left: 15px;width: 300px"
                mat-raised-button color="accent">
          {{'create recipe' | translate}}
        </button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
</div>
