<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="userEntity" type="com.samsolutions.recipes.model.UserEntity"*/-->
<h1 th:text="#{greeting}"></h1>

<span th:text="#{lang.change}"></span>
<div>
    <a href="?locale=ru" th:text="#{lang.ru}">RU</a>
    <a href="?locale=en" th:text="#{lang.eng}">EN</a>
</div>
<a th:href="@{/admin/users}" href="#" th:text="#{users}">
</a>
</body>
</html>