<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org.thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF­8"/>
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="userEntity" type="com.samsolutions.recipes.model.UserEntity"*/-->
<h1 th:text="#{greeting}"></h1>

<span th:text="#{lang.change}"></span>
<div>
    <a href="?locale=ru" th:text="#{lang.ru}">RU</a>
    <a href="?locale=en" th:text="#{lang.eng}">EN</a>
</div>
<form th:action="@{/client/registration}" method="get">
    <button type="Submit" th:text="#{registrationPage}"></button>
</form>
<form th:action="@{/client/login}" method="get">
    <button type="Submit" th:text="#{loginPage}"></button>
</form>
<div sec:authorize="isAuthenticated()">
    <form th:action="@{/}" method="get">
        <button type="Submit" th:text="#{user.add.addUser}"></button>
    </form>
</div>
<div sec:authorize="hasAuthority('ADMIN')">
    <form th:action="@{/admin/users}" method="get">
        <button type="Submit" th:text="#{adminPage}"></button>
    </form>
</div>

</body>
</html>