<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF­8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}"/>
    <title>Title</title>
</head>
<body>
<!--/*@thymesVar id="userEntity" type="com.samsolutions.recipes.model.UserEntity"*/-->
<h1 th:text="#{index.message}"></h1>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page" th:text="#{homePage}"></li>
    </ol>
</nav>
<div class="container-fluid">
    <div sec:authorize="isAuthenticated()">
        <h3 id="name" sec:authentication="name"></h3>
    </div>
    <br/>
    <form th:action="@{/client/registration}" method="get">
        <button class="btn btn-primary" type="Submit" th:text="#{registrationPage}"></button>
    </form>
    <br/>
    <form th:action="@{/client/login}" method="get">
        <button class="btn btn-primary" type="Submit" th:text="#{loginPage}"></button>
    </form>
    <br/>
    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="get">
        <button class="btn btn-primary" type="Submit" th:text="#{logout}"></button>
    </form>
    <br/>
    <div sec:authorize="isAuthenticated()">
        <form th:action="@{/client/profile}" method="get">
            <button class="btn btn-primary" type="Submit" th:text="#{profile}"></button>
        </form>
    </div>
    <br/>
    <div sec:authorize="hasAuthority('ADMIN')">
        <form th:action="@{/admin/users}" method="get">
            <button class="btn btn-primary" type="Submit" th:text="#{adminPage}"></button>
        </form>
    </div>
    <br/>
    <span class="badge badge-pill badge-light" th:text="#{lang.change}"></span>
    <div>
        <a class="badge badge-dark" href="?locale=ru" th:text="#{lang.ru}">RU</a>
        <a class="badge badge-dark" href="?locale=en" th:text="#{lang.eng}">EN</a>
    </div>
</div>
<link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/custom.js}"></script>
</body>
</html>