<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <title>Spring Security Example </title>
</head>
<body>
<div th:if="${param.error}">
    Invalid login and password.
</div>
<div th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/client/login}" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1" th:text="#{user.login}">:</label>
        <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" type="text" name="username"/>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1" th:text="#{user.password}">:</label>
        <input class="form-control" id="exampleInputPassword1" type="password" name="password"/>
    </div>
    <input class="btn btn-primary" type="submit" value="Sign In"/>
</form>
<span th:text="#{lang.change}"></span>
<div>
    <a href="?locale=ru" th:text="#{lang.ru}">RU</a>
    <a href="?locale=en" th:text="#{lang.eng}">EN</a>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/custom.js}"></script>
</body>
</html>