<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}"/>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/font-awesome/5.11.2/css/all.css}"/>
    <title>Title</title>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item active">
                <a class="nav-link" href="/" th:text="#{homePage}"></a>
            </li>
            <li class="nav-item">
                <form th:action="@{/client/registration}" method="get">
                    <button class="btn btn-primary" type="Submit" th:text="#{registrationPage}"></button>
                </form>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" th:text="#{profile}">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <form th:action="@{/client/login}" method="get">
                        <button class="dropdown-item" type="Submit" th:text="#{loginPage}"></button>
                    </form>
                    <form sec:authorize="isAuthenticated()" th:action="@{/logout}" method="get">
                        <button class="dropdown-item" type="Submit" th:text="#{logout}"></button>
                    </form>
                    <form sec:authorize="isAuthenticated()" th:action="@{/client/profile}" method="get">
                        <button class="dropdown-item" type="Submit" th:text="#{profile}"></button>
                    </form>
                </div>
            </li>
            <li class="nav-item">
                <form sec:authorize="hasAuthority('ADMIN')" th:action="@{/admin/users}" method="get">
                    <button class="btn btn-link" type="Submit" th:text="#{adminPage}"></button>
                </form>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false" th:text="#{lang.change}">
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="?locale=ru" th:text="#{lang.ru}">RU</a>
                    <a class="dropdown-item" href="?locale=en" th:text="#{lang.eng}">EN</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <!--/*@thymesVar id="userEntity" type="com.samsolutions.recipes.model.UserEntity"*/-->
    <form action="#" th:action="@{/client/registration}" th:object="${userEntity}" method="post">
        <div class="form-group row">
            <label th:text="#{user.firstName}" class="col-sm-2 col-form-label" for="firstName"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control is-valid" th:field="*{firstName}" id="firstName"
                       th:placeholder="#{user.firstName}" required/>
            </div>
        </div>
        <span class="badge badge-pill badge-light" th:if="${#fields.hasErrors('firstName')}"
              th:errors="*{firstName}"></span>
        <div class="form-group row">
            <label for="lastName" class="col-sm-2 col-form-label" th:text="#{user.lastName}"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control is-valid" th:field="*{lastName}" id="lastName"
                       th:placeholder="#{user.lastName}" required/>
            </div>
        </div>
        <span class="badge badge-pill badge-light" th:if="${#fields.hasErrors('lastName')}"
              th:errors="*{lastName}"></span>
        <div class="form-group row">
            <label for="login" class="col-sm-2 col-form-label" th:text="#{user.login}"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control is-valid" th:field="*{login}" id="login"
                       th:placeholder="#{user.login}" required/>
            </div>
        </div>
        <span class="badge badge-pill badge-light" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></span>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="email" th:text="#{user.email}"></label>
            <div class="col-sm-10">
                <input type="text" class="form-control is-valid" th:field="*{email}" id="email"
                       th:placeholder="#{user.email}" required/>
            </div>
        </div>
        <span class="badge badge-pill badge-light" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="password" th:text="#{user.password}"></label>
            <div class="col-sm-10">
                <input type="password" class="form-control is-valid" th:field="*{password}" id="password"
                       th:placeholder="#{user.password}" aria-describedby="passwordHelpBlock" required/>
                <small id="passwordHelpBlock" class="form-text text-muted">
                    Your password must be 8-20 characters long, contain letters and numbers, and must not contain
                    spaces, special characters, or emoji.
                </small>
            </div>
        </div>
        <span class="badge badge-pill badge-light" th:if="${#fields.hasErrors('password')}"
              th:errors="*{password}"></span>
        <div class="form-group row">
            <div class="col-sm-10">
                <input type="submit" class="btn btn-primary" th:value="#{user.add.addUser}"/>
                <span style="color: dodgerblue">
                <i class="fas fa-user-plus fa-1x"></i>
                </span>
            </div>
        </div>
    </form>
    <form th:action="@{/client/login}" method="get">
        <button class="btn btn-success" type="Submit" th:text="#{loginPage}"></button>
        <span style="color: forestgreen">
        <i class="fas fa-sign-in-alt fa-1x"></i>
        </span>
    </form>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/" th:text="#{homePage}"></a></li>
            <li class="breadcrumb-item active" aria-current="page" th:text="#{registrationPage}"></li>
        </ol>
    </nav>
</div>
<script type="text/javascript" th:src="@{/webjars/jquery/3.4.1/jquery.min.js/}"></script>
<script type="text/javascript" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
<script type="text/javascript" th:src="@{/js/custom.js}"></script>
</body>
</html>