<h1>
  {{'profile' | translate}}
</h1>
<form [formGroup]="editForm" (ngSubmit)="onSubmit()">
  <div mat-dialog-content>
    <mat-form-field class="full-width">
      <mat-label>{{'login' | translate}}</mat-label>
      <input matInput formControlName="login" readonly="true">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>{{'email' | translate}}</mat-label>
      <input matInput formControlName="email" readonly="true">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>{{'first name' | translate}}</mat-label>
      <input matInput formControlName="firstName">
    </mat-form-field>
    <mat-form-field class="full-width">
      <mat-label>{{'last name' | translate}}</mat-label>
      <input matInput formControlName="lastName">
    </mat-form-field>
      <button type="button" (click)="changePass()" mat-stroked-button>{{'change password' | translate}}</button>
  </div>
  <br/>
  <div mat-dialog-actions class="example-button-row">
    <button mat-button type="button" (click)="onNoClick()">{{'cancel' | translate}}</button>
    <button type="submit" mat-raised-button color="accent"
            [disabled]="!editForm.valid">
      {{'update' | translate}}</button>
  </div>
</form>
<!--
<div class="container-fluid">
  <form [formGroup]="editForm" (ngSubmit)="onSubmit()" style="max-width: 70%">
    <div hidden="hidden" class="form-group">
      <input type="text" formControlName="id" placeholder="id" name="id" class="form-control" id="id"
             readonly="true">
    </div>

    <div class="form-group">
      <h6 for="login">{{'login' | translate}}:</h6>
      <input type="text" formControlName="login" placeholder="login" name="login" class="form-control" id="login"
             readonly="true">
    </div>

    <div class="form-group">
      <h6 for="email">{{'email' | translate}}:</h6>
      <input type="text" formControlName="email" placeholder="email" name="email" class="form-control" id="email"
             readonly="true">
    </div>

    <div class="form-group">
      <h6 for="firstName">{{'first name' | translate}}:</h6>
      <input formControlName="firstName" placeholder="First Name" name="firstName" class="form-control" id="firstName">
    </div>
    <div class="alert alert-danger"
         *ngIf="!editForm.get('firstName').valid && editForm.get('firstName').touched">
      {{'required' | translate}}
    </div>

    <div class="form-group">
      <h6 for="lastName">{{'last name' | translate}}:</h6>
      <input formControlName="lastName" placeholder="Last name" name="lastName" class="form-control" id="lastName">
    </div>
    <div class="alert alert-danger"
         *ngIf="!editForm.get('lastName').valid && editForm.get('lastName').touched">
      {{'required' | translate}}
    </div>
    <div hidden="hidden" class="form-group">
      <h6 for="password">{{'password' | translate}}:</h6>
      <input type="password" formControlName="password" placeholder="" name="password" class="form-control"
             id="password" readonly>
    </div>
    <button [disabled]="!editForm.valid" style="width: 300px" type="submit"
            class="btn btn-success">{{'update' | translate}}</button>
  </form>
  <div *ngIf="checkDiv">
    <div class="form-group" style="max-width: 70%">
      <h6 for="lastName">{{'old password' | translate}}:</h6>
      <input type="password" class="form-control" id="oldPass" [(ngModel)]="oldPass" #old="ngModel" required>
      <div *ngIf="old.invalid" style="color: red">{{'required' | translate}}</div>
      <button [disabled]="old.invalid" type="button" class="btn btn-success" (click)="checkPass()">
        {{'check password' | translate}}
      </button>
    </div>
  </div>
  <div *ngIf="passDiv">
    <div class="form-group" style="max-width: 70%">
      <h6 for="lastName">{{'new password' | translate}}:</h6>
      <input type="password" class="form-control" id="newPass" [(ngModel)]="newPass" #newPass2="ngModel" required
             pattern="[a-z]{5,}">
      <div *ngIf="newPass2.invalid" style="color: red">{{'required' | translate}}</div>
    </div>
    <div class="form-group" style="max-width: 70%">
      <h6 for="lastName">{{'confirm password' | translate}}:</h6>
      <input type="password" class="form-control" id="confirmPass" (change)="comparison()" [(ngModel)]="confPass"
             #conf="ngModel" required pattern="[a-z]{5,}">
      <div *ngIf="conf.invalid" style="color: red">{{'required' | translate}}</div>
    </div>
    <button [disabled]="newPass2.invalid || conf.invalid" id="save" type="button" class="btn btn-success"
            (click)="savePass()">{{'save password' | translate}}
    </button>
  </div>
  <button *ngIf="button" type="button" class="btn btn-primary" (click)="changePass()">
    {{'change password' | translate}}
  </button>
  <br/>
</div>
-->
