<h1>
  <app-back-button></app-back-button>
  <div class="qub-page-header-divider"></div>
  {{'my recipes' | translate}}
</h1>
<div class="resultDiv">
  <div class="container-fluid">
    <div class="card mb-3 card-columns recipe" *ngFor="let recipe of recipes">
      <div class="row no-gutters" *ngIf="recipe.name != null">
        <div class="col-md-4">
          <img height="250" weight="300" [src]="recipe.imgSource" *ngIf="recipe.imgSource !=null" class="card-img">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <ng-container *ngIf="!ru;else lang">
              <h5 class="card-title">{{ recipe.name }}</h5>
              <h6 class="card-text">{{'difficulty' | translate}}:{{ recipe.cookingDifficulty }}</h6>
            </ng-container>
            <ng-template #lang>
              <h5 class="card-title">{{ recipe.nameRu }}</h5>
              <h6 class="card-text">{{'difficulty' | translate}}:{{ recipe.cookingDifficultyRu }}</h6>
            </ng-template>
            <h6 class="card-text">{{'time' | translate}}:{{ recipe.cookingTime }} {{'minutes' | translate}}</h6>
            <div class="div">
              <form (ngSubmit)="view(recipe.id)">
                <button type="submit" class="btn btn-primary">{{'view' | translate}}</button>
              </form>
              <form class="divChild2" (ngSubmit)="edit(recipe.id)">
                <button type="submit" class="btn btn-success">{{'edit' | translate}}</button>
              </form>
              <form class="divChild2" (ngSubmit)="delete(recipe.id)">
                <button type="submit" class="btn btn-danger">{{'delete' | translate}}</button>
              </form>
            </div>
            <p class="card-text"><small
              class="text-muted">{{'last update' | translate}} {{ recipe.lastModified }}</small></p>
          </div>
        </div>
      </div>
      <div class="container" *ngIf="recipe.name == null">
        <div class="row">
          <div class="col-md-12">
            <div class="error-template">
              <h1>
                {{'oops' | translate}}!</h1>
              <h2>
                {{'recipes not found' | translate}}</h2>
              <div class="error-details">
                {{'you can add' | translate}}
              </div>
              <div class="error-actions">
                <button (click)="addRecipe()" class="btn btn-primary btn-lg"><span
                  class="glyphicon glyphicon-home"></span>
                  {{'add recipe' | translate}} +
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
