<ng-container *ngIf="!ru;else lang">
  <h1>
    <app-back-button></app-back-button>
    <div class="qub-page-header-divider"></div>
    {{category.name}}
  </h1>
</ng-container>
<ng-template #lang>
  <h1>
    <app-back-button></app-back-button>
    <div class="qub-page-header-divider"></div>
    {{category.nameRu}}
  </h1>
</ng-template>
<div class="resultDiv">
  <div class="container-fluid">
    <div class="card-deck-custom">
      <mat-card class="example-card divChild" *ngFor="let recipe of recipes">
        <ng-container *ngIf="!ru;else lang">
          <mat-card-header>
            <mat-card-title>{{ recipe.name }}</mat-card-title>
            <mat-card-subtitle>{{'author' | translate}}: {{ recipe.authorName }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image height="250" style="width: 300px" [src]="recipe.imgSource"
               *ngIf="recipe.imgSource !=null"
               alt="">
          <mat-card-content>
            <h6>
              {{'difficulty' | translate}}: {{ recipe.cookingDifficulty }}
            </h6>
            <h6>
              {{'time' | translate}}: {{ recipe.cookingTime }} {{'minutes' | translate}}
            </h6>
            <p class="card-text"><small
              class="text-muted">{{'last update' | translate}} {{ recipe.lastModified }}</small></p>
          </mat-card-content>
        </ng-container>
        <ng-template #lang>
          <mat-card-header>
            <mat-card-title>{{ recipe.nameRu }}</mat-card-title>
            <mat-card-subtitle>{{'author' | translate}}:{{ recipe.authorName }}</mat-card-subtitle>
          </mat-card-header>
          <img mat-card-image height="250" weight="350" [src]="recipe.imgSource" *ngIf="recipe.imgSource !=null"
               alt="">
          <mat-card-content>
            <h6>
              {{'difficulty' | translate}}:{{ recipe.cookingDifficultyRu }}
            </h6>
            <h6>
              {{'time' | translate}}:{{ recipe.cookingTime }} {{'minutes' | translate}}
            </h6>
            <p class="card-text"><small
              class="text-muted">{{'last update' | translate}} {{ recipe.lastModified }}</small></p>
          </mat-card-content>
        </ng-template>
        <mat-card-actions>
          <div class="example-button-row">
            <button (click)="view(recipe.id)" mat-raised-button color="primary"
                    type="submit">{{'view' | translate}}</button>

            <button (click)="addToFavorite(recipe.id)" mat-raised-button color="primary"
                    type="submit">{{'add to favorite' | translate}}</button>

          </div>
        </mat-card-actions>
      </mat-card>
    </div>
    <div *ngIf="recipes.length != 0">
      <mat-paginator style="margin: auto 115px"
                     [length]="length"
                     [pageSize]="pageSize"
                     [pageSizeOptions]="pageSizeOptions"
                     (page)="pageEvent = getServerData($event)">
      </mat-paginator>
    </div>
    <div *ngIf="recipes.length == 0">
      <div class="container box" style="padding-bottom: 20px">
        <div class="row">
          <div class="col-md-12">
            <div class="error-template">
              <h1>
                {{'oops' | translate}}!</h1>
              <h2>
                {{'recipes not found' | translate}}</h2>
              <div class="error-details">
                {{'no one' | translate}}
              </div>
              <div class="error-actions">
                <button mat-raised-button color="accent" (click)="addRecipe()"><span
                  class="glyphicon glyphicon-home"></span>
                  + {{'add recipe' | translate}}
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


