h1 {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  font-weight: 300;
  font-size: 26px;
  color: white;
  background: #9c27b0;
  padding: 20px 25px;
}

h5 {
  margin-top: 20px;
  display: flex;
  flex-wrap: nowrap;
  font-weight: 300;
  color: white;
  background: #9c27b0;
  padding: 10px 15px;
}

.back {
  background-color: #303030;
  color: white;
}

nav {
  background: #9c27b0;
  color: white;
}

body {
  padding-top: 50px;
}

.top {
  position: absolute;
}

.div {
  display: flex;
  flex-wrap: wrap;
}

.divChild {
  margin-left: 15px;
  margin-top: 12px;
  margin-bottom: 15px;
}

.divChild2 {
  margin-left: 12px;
}

.resultDiv {
  max-width: 80%;
  margin: auto auto;
  padding: 10px;
  background-color: #303030;
}

.recipe {
  max-width: 800px;
  margin: 20px auto;
  border-color: black;
  background-color: #f1e5bc;
}

html, body {
  height: 100%;
  overflow-x: hidden
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

/*DROPDOWN*/
.dropdown-menu {
  background: #424242
}

.dropdown .btn {
  background: #545454;
  color: white;
}

.dropdown .btn:active {
  background: black;
  color: white;
}

.dropdown-menu .dropdown-item {
  margin-top: 6px;
  display: inline-block;
  width: 100%;
  padding: 10px 5px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  font-weight: 300;
  background: #424242;
  color: #fff;
}

.dropdown-menu .dropdown-item:hover {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background: rgba(121, 121, 121, 0.5)
}

/*CARD*/
.example-card {
  max-width: 400px;
  max-height: 600px;
}

.card-columns {
  column-count: 3;
}

.example-button-row button,
.example-button-row a, card {
  margin-right: 12px;
}

.breadcrumbCustom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: 0.25rem;
}

.qub-page-header-divider {
  height: 24px;
  background-color: white;
  width: 2px;
  margin: 0 10px;
}

.full-width {
  width: 100%;
}

.label {
  color: rgba(255, 255, 255, .7);
  font-size: 20px;
  font-weight: 400;
  line-height: 1.125;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  width: 100%;
}

.card-deck-custom {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

@media (min-width: 576px) {
  .card-deck-custom {
    flex-flow: row wrap;
    margin: auto 100px;
  }
}

.box {
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  background: rgba(121, 121, 121, 0.5)
}






