.top {
  position: absolute;
}

.div {
  display: flex;
  flex-wrap: wrap;
}

.divChild {
  margin-left: 12px;
  margin-top: 12px;
}

.divChild2 {
  margin-left: 12px;
}

input.ng-touched.ng-invalid {
  border: solid red 2px;
}

input.ng-touched.ng-valid {
  border: solid green 2px;
}


