.back {
  background-color: #fdd835;
}

.text{
  color: black;
}

.primary{
  background-color: #304ffe;
}

.top {
  position: absolute;
}

.div {
  display: flex;
  flex-wrap: wrap;
}

.divChild {
  margin-left: 12px;
  margin-top: 12px;
}

.divChild2 {
  margin-left: 12px;
}

.resultDiv {
  max-width: 1200px;
  margin: 10px auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #fff0b4;
}

.recipe {
  max-width: 800px;
  margin: 20px auto;
  border-color: black;
  background-color: #f1e5bc;
}

input.ng-touched.ng-invalid {
  border: solid red 2px;
}

input.ng-touched.ng-valid {
  border: solid green 2px;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
